/* Reset take from https://raw.githubusercontent.com/aleksanderlamkov/css-normalize/main/index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
.square {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* layout */

:root {
  --text: #ffffff;
  --background: #050505;
  --primary: #3f4046;
  --secondary: #272428;
  --accent: #878992;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
}

.game-board {
  width: min(calc(100vw), 600px);
  aspect-ratio: 1;
  margin-inline: auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-board > .square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: inherit;
  border: 1px solid var(--primary);
}

.game-board > .square:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.game-board > .square:nth-child(1) {
  border-top: none;
  border-left: none;
}

.game-board > .square:nth-child(2) {
  border-top: none;
}

.game-board > .square:nth-child(3) {
  border-top: none;
  border-right: none;
}

.game-board > .square:nth-child(4) {
  border-left: none;
}

.game-board > .square:nth-child(6) {
  border-right: none;
}

.game-board > .square:nth-child(7) {
  border-bottom: none;
  border-left: none;
}

.game-board > .square:nth-child(8) {
  border-bottom: none;
}

.game-board > .square:nth-child(9) {
  border-bottom: none;
  border-right: none;
}

.game-dialog {
  color: var(--text);
  background-color: hsl(239deg 5% 6%);
  border-radius: 10px;
  border: none;
}

.game-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  filter: blur(10px);
}

.game-dialog-content {
  display: grid;
  justify-items: center;
  gap: 1rem 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.game-dialog-title {
  grid-column: span 2;
}

.game-start-button {
  grid-column: span 2;
}

.name-input-container {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.name-input-container > input {
  width: 100%;
}

label {
  display: none;
}

.checkbox-label {
  display: inline-block;
  text-wrap: none;
}

.checkbox-input {
  width: 20px !important;
}

.checkbox-container {
  grid-column: span 2;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.input {
  background-color: inherit;
  border: none;
  color: inherit;

  border-bottom: 1px solid var(--text);
}

.button {
  padding: 0.5em 1.5em;
  text-transform: capitalize;
  font-size: 20px;
  color: var(--text);
  border: none;
  border-radius: 10px;
  background: hsl(230deg 5% 26%);
}

.button:hover {
  box-shadow: 0 0 20px var(--accent);
}

.button:active {
  scale: 0.9;
}
