/* Reset take from https://raw.githubusercontent.com/aleksanderlamkov/css-normalize/main/index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
.square {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* layout */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(220deg 10% 14%);
  color: #ffffff;
}

.game-board {
  width: min(calc(100vw), 600px);
  aspect-ratio: 1;
  margin-inline: auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-board > .square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: #fff;
  border: 1px solid hsl(215, 10%, 25%);
}

.game-board > .square:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.game-board > .square:nth-child(1) {
  border-top: none;
  border-left: none;
}

.game-board > .square:nth-child(2) {
  border-top: none;
}

.game-board > .square:nth-child(3) {
  border-top: none;
  border-right: none;
}

.game-board > .square:nth-child(4) {
  border-left: none;
}

.game-board > .square:nth-child(6) {
  border-right: none;
}

.game-board > .square:nth-child(7) {
  border-bottom: none;
  border-left: none;
}

.game-board > .square:nth-child(8) {
  border-bottom: none;
}

.game-board > .square:nth-child(9) {
  border-bottom: none;
  border-right: none;
}

.game-board > .square > span {
  z-index: 0;
  color: hsl(198deg 48% 45%);
}

.game-dialog {
  background-color: rgba(255, 255, 255, 0.1);
}

.game-dialog-content {
  display: grid;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.game-dialog-title {
  grid-column: span 2;
}

.game-start-button {
  align-self: center;
}

.name-input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name-input-container > input {
  width: 100%;
}

.game-dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.5);
}
